#root{
    width: 100%;
    height: 100vh;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;  
    
}.caja{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 40rem;
    height: 30rem;
    border:2px solid rgb(230, 186, 104) ;
    border-radius: 4rem ;
    align-items: center;

}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 3rem;
}
.texto{
    grid-column: 1/4;
    grid-row: 2/3;
    padding: 3rem;
    font-size: 2rem;
}
.boton{
    grid-column: 3/4;
    grid-row: 3/4;
    width: 8rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: rgba(241, 185, 158, 0.459);
}
